<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Shopping Cart</a>
        </li>
        <li class="nav-item dropdown">
            <div class="nav-link" dropdown>
              <a id="button-basic" dropdownToggle aria-controls="dropdown-basic">
                Username <span class="caret"></span>
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">My Orders</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Manager Orders</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Manager Products</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Log Out</a></li>
              </ul>
            </div>
          </li>
      </ul>
    </div>
  </nav>
